*{
    padding: 0px;
    margin: 0px;  
}
.navbar{
    background-color: rgba(0, 0, 0, 0.612);   
    padding: 10px 10px 10px 50px;
    
}
.navbar img{
    height: 100px;
}
 
.links{
    
    height: 20px;
    padding: 5px;
    padding-left: 60px;
    
}
.links ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    float: right;
    margin-top: -50px;
}
.list{
    padding-left: 25px;
}
.links ul li a{
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: red;
}