*{
    padding: 0px;
    margin: 0px;  
}
.navbar{
    background-color: rgba(0, 0, 0, 0.612);   
    padding: 10px 10px 10px 50px;
    display: flex;
}
.navbar img{
    height: 100px;
}
.navbar .title h1{
    color: lime;
    margin-left: 300px;
    margin-top: 30px;
    font-family: sans-serif;
}
.links{
    background-color: orange;
    height: 20px;
    padding: 15px;
    padding-left: 60px;
}
.links ul {
    display: flex;
    text-decoration: none;
    list-style: none;
}
.list{
    padding-left: 120px;
}
.links ul li a{
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: red;
}